*{
    box-sizing: border-box;
    padding: 5px;
    margin: 0;
    justify-content: center;
    font-family: sans-serif;
}

.container{
    background-position: center;
    box-sizing: border-box;
}
nav{
    flex: 1;
    text-align: center;
    padding: 5px;
    margin: 10px;
}
nav ul li{
    list-style: none;
    display: inline-block;
    margin-left: 60px;
}
nav ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 15px;
}
.navbar ul li a:hover{
    color: aqua;
}

body{
    background: rgba(71, 112, 71, 0.75);
}
.container{
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
}
.card{
    background-color: white;
    width: 450px;
    height: 700x;
    margin: 15px;
    border-radius: 15px;
    color: rgb(253, 44, 44);
}
.card-image{
    height: 400px;
    margin-bottom: 15px;
    background-size: cover;
    border-radius: 15px 15px  0 0;
}
.card h2{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.img1{
    background-image: url(/midtermproject/1.jpg);
}
.img2{
    background-image: url(/midtermproject/3.jpg);
}
.img3{
    background-image: url(/midtermproject/2.jpg);
}
.card:hover{
    background-color: rgba(62,62,62);
}
.container .card-image .card{
    justify-content: center;
    padding: 15px;
}